
{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up to Both</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">
    
    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'Both/css/style.css' %}">
</head>
<body>

    <div class="main">

        <h1>Inscription</h1>
        <div class="container">
            <div class="sign-up-content">
                <form method="POST" class="signup-form">
                    {% csrf_token %}
                    <div id="logo">
                        <img src="../static/Both/img/logo.png" alt=""  >

                    </div>
                    {{form.as_p}}

                    <div class="form-group">
                        <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                        <label for="agree-term" class="label-agree-term">J'accepte toutes les clauses des <a href="#" class="term-service">Conditions d'utilisations</a></label>
                    </div>

                    <div class="form-textbox">
                        
                        <input type="submit" name="submit" id="submit" class="submit" value="Créer un compte" />
                    </div>
                </form>

                <p class="loginhere">
                    Vous avez déja un compte ?<a href="{% url 'login' %}" class="loginhere-link"> Connectez-vous</a>
                </p>
            </div>
        </div>

    </div>

    <!-- JS -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
